.add-item__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $special-grey;
  text-transform: uppercase;
  font-family: $text-custom;
  margin: 0;
}

.add-item__list {
  font-size: 14px;
  line-height: 14px;
  margin: 0;
}

.add-item__definition {
  margin: 0;
}
