.add-item {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    column-gap: 40px;
    grid-template-columns: 1fr 1fr auto;
  }
}

.add-item__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $special-grey;
  text-transform: uppercase;
  font-family: $text-custom;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
  }
}

.add-item__list {
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
  }
}

.add-item__term {
  @media (min-width: $tablet-width) {
    margin-right: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.add-item__definition {
  margin: 0;
}

.add-item__button {
  display: block;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    margin-top: 27px;
  }

  @media (min-width: $desktop-width) {
    grid-column: unset;
    margin-top: 0;
    min-width: 245px;
  }
}
