.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0;
  background-color: $transparent;
  cursor: pointer;
  font-family: $text-custom;
  text-transform: uppercase;
  padding: 11px 26px;

  &--green {
    background-color: $green;
    color: $primary-white;
    transition: $transition-time background-color, $transition-time color;

    &:hover {
      background-color: $green-hover;
    }

    &:active {
      color: rgba($primary-white, 0.3);
    }

    &:focus {
      background-color: $green-hover;
      outline: 2px solid $primary-black;
    }
  }

  &--grey {
    background-color: $grey-bg;
    color: $primary-grey;
    transition: $transition-time background-color, $transition-time color;

    &:hover {
      background-color: $grey-border-3;
      transition: $transition-time background-color;
    }

    &:active {
      color: rgba($primary-grey, 0.3);
    }

    &:focus {
      background-color: $grey-border-3;
      outline: 2px solid $primary-black;
    }
  }
}
