.catalog-more__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $grey-contacts;
  font-family: $text-custom;
  text-transform: uppercase;
  margin: 0;
}

.catalog-more__subtitle {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}
