.example {
  background-color: $grey-bg-example;

  @media (min-width: $tablet-width) {
    background-color: $transparent;
    background-image: linear-gradient(to top, $grey-bg-example 460px, $grey-bg-example, $primary-white, $primary-white 460px);
    padding-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    background-image: linear-gradient(to bottom, $primary-white 169px, $transparent 169px), linear-gradient(to left, $grey-bg-example calc(50% - 265px), $grey-bg calc(50% - 265px));
  }
}

.example__container {
  padding-top: 25px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 80px;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 56px;
    margin-bottom: 146px;
  }
}

.example__text {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
    max-width: 436px;
  }
}

.example__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: start;
    margin-bottom: 0;
  }
}

.example__stats-list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    justify-content: start;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.example__costs {
  text-transform: uppercase;
  color: $primary-black;
  font-size: 14px;
  line-height: 20px;
  font-family: $text-custom;
  margin: 0;
  text-align: center;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    max-width: 174px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 360px;
    text-align: right;
    display: flex;
  }
}

.example__costs-text {
  @media (min-width: $tablet-width) {
    display: block;
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 63px;
    margin-bottom: 0;
  }
}
