.footer {
  padding: 37px 0 22px 0;
  background-color: $grey-bg;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 61px;
  }
}

.footer__container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-bottom: 27px;
  transition: $transition-time opacity;

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }

  &[href]:focus {
    opacity: 0.6;
    outline: 2px solid $primary-black;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    margin-bottom: 0;
  }
}

.footer__social {
  @include list-reset;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 0;
  margin-bottom: 22px;
  border-top: 1px solid $grey-border-3;
  border-bottom: 1px solid $grey-border-3;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
    margin-bottom: 0;
    margin-left: 27px;
  }
}

.footer__copyright {
  line-height: 18px;
  color: $primary-grey;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: $transition-time opacity;
}

.footer__img {
  transition: $transition-time color;
}

.footer__copyright:hover .footer__img,
.footer__copyright:focus .footer__img {
  color: $green;
}

.footer__copyright:active {
  opacity: 0.3;
}

.footer__copyright:focus {
  outline: 2px solid $primary-black;
}

.footer__copyright-sign {
  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }
}
