.form-group {
  &--contacts {
    .form-group__item {
      margin-bottom: 13px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (min-width: $tablet-width) {
      .form-group__item {
        margin-bottom: 20px;
      }
    }

    @media (min-width: $desktop-width) {
      .form-group__item {
        margin-bottom: 0;
      }
    }
  }

  &--info {
    .form-group__item {
      margin-bottom: 13px;

      @media (min-width: $tablet-width) {
        margin-bottom: 20px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--program {
    margin: 22px -20px 28px -20px;
    padding: 20px 20px 18px 20px;
    border-top: 1px solid $grey-border-3;
    border-bottom: 1px solid $grey-border-3;

    @media (min-width: $tablet-width) {
      margin-right: 0;
      margin-left: 0;
      border: 1px solid $grey-border-3;
      margin-top: 72px;
      margin-bottom: 75px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }

  &--comment {
    margin-top: 26px;
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      margin-top: 65px;
      margin-bottom: 61px;
    }
  }

  &--extra {
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      margin-bottom: 45px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 54px;
    }

    .form-title {
      @media (min-width: $tablet-width) {
        margin-bottom: 57px;
      }
    }
  }
}

.form-group__list {
  @include list-reset;

  &--extra {
    @media (min-width: $tablet-width) {
      display: grid;
      align-items: flex-start;
      grid-template-columns: 1fr 1fr;
      row-gap: 22px;
      column-gap: 60px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 80px;
    }
  }

  &--contacts {
    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px 78px;
    }
  }
}

.form-group__item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.form-group__title {
  margin-bottom: 33px;
}

.form-group__textarea {
  font-size: 16px;
  line-height: 18px;
  color: $primary-grey;
  text-transform: uppercase;
  font-family: $text-custom;
  border: 1px solid $grey-border-1;
  resize: none;
  padding: 10px 12px 12px 14px;
  width: 100%;
  min-height: 150px;
  transition: $transition-time border-color;

  &:focus {
    border-color: $primary-grey;
    outline: 1px solid $primary-grey;
  }

  &::-moz-placeholder {
    opacity: 1;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 18px;
    color: $primary-grey;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    min-height: 174px;
  }
}
