.form-group {
  &--contacts {
    .field-text__input {
      border: 1px solid $grey-border-2;
    }
  }
}

.form-group__list {
  @include list-reset;
}

.form-group__textarea {
  font-size: 16px;
  line-height: 18px;
  color: $primary-grey;
  text-transform: uppercase;
  font-family: $text-custom;
  border: 1px solid $grey-border-1;

  &::placeholder {
    font-size: 16px;
    line-height: 18px;
    color: $primary-grey;
  }
}
