.main-nav {
  display: none;
  width: 100%;
  text-align: center;

  &--open,
  &--nojs {
    display: block;
  }

  @media (min-width: $tablet-width) {
    display: block;
    width: unset;
  }

  @media (min-width: $desktop-width) {
    &--index {
      .main-nav__link {
        color: $primary-white;

        &--current::after {
          background-color: $primary-white;
        }
      }
    }
  }
}

.main-nav__item {
  @media (min-width: $tablet-width) {
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.main-nav__link {
  color: $primary-black;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  font-family: $text-custom;
  display: block;
  padding: 20px 0 20px 0;
  margin-left: -20px;
  margin-right: -20px;
  border-top: 1px solid $grey-border-5;
  transition: $transition-time opacity;
  position: relative;

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;

    &--current::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -8px;
      height: 2px;
      width: 100%;
      background-color: $green;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }
}

.main-nav__list {
  @include list-reset;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

