.page__body {
  margin: 0;
  font-family: $text-primary;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: $primary-grey;
  min-width: 320px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 100%;
  align-content: start;
}
