.product__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $text-custom;
  margin: 0;
}

.product__link {
  color: $special-grey;
}

.product__description-list {
  margin: 0;
}
