.program {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }

  &::before {
    background-color: $green;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &::after {
    background-position: center;
  }

  &--slim::after {
    background-image: url("../img/cat-slim.svg");
    width: 36px;
    height: 50px;
    top: -2px;
    left: 7px;
  }

  &--pro::after {
    background-image: url("../img/cat-pro.svg");
    width: 67px;
    height: 46px;
    left: -10px;
    top: 0;
  }

  @media (min-width: $tablet-width) {
    &::before {
      background-color: $green;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      right: -10px;
    }

    &--slim::after {
      left: unset;
      right: 19px;
      top: -11px;
      width: 140px;
      height: 192px;
      background-size: cover;
    }

    &--pro::after {
      left: unset;
      right: -40px;
      top: 40px;
      width: 268px;
      height: 112px;
      background-size: cover;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      background-color: $green;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      left: 0;
    }

    &--slim::after {
      left: 15px;
      top: -3px;
      width: 70px;
      height: 97px;
      background-size: cover;
    }

    &--pro::after {
      left: -20px;
      top: 20px;
      width: 134px;
      height: 56px;
      background-size: cover;
    }
  }
}

.program__title {
  font-size: 24px;
  line-height: 37px;
  color: $primary-black;
  font-weight: 400;
  text-transform: uppercase;
  font-family: $text-custom;
  margin: 0;
  padding-left: 70px;
  padding-top: 7px;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 160px;
    padding-top: 40px;
    margin-bottom: 73px;
  }
}

.program__text {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding-bottom: 23px;
  margin-bottom: 15px;
  border-bottom: 1px solid $grey-border-3;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    color: $primary-black;
    margin-bottom: 48px;
    padding-bottom: 0;
    max-width: 377px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
    max-width: 467px;
  }
}

.program__link {
  line-height: 16px;
  color: $primary-black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $text-custom;
  position: relative;
  padding-right: 40px;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/icons/icon-arrow-hov.svg");
    background-repeat: no-repeat;
    background-position: right center;
    width: 24px;
    height: 11px;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    transition: $transition-time ease width, $transition-time ease right;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover::after {
    width: 32px;
    right: 0;
  }

  @media (min-width: $tablet-width) {
    padding-right: 50px;
    font-size: 20px;
    line-height: 30px;
  }
}
