.promo {
  color: $primary-white;
  font-family: $text-custom;
  padding-top: 27px;
  padding-bottom: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    background-image: none;
    color: $primary-black;
    padding-bottom: 0;
    min-height: 826px;
  }

  @media (min-width: $desktop-width) {
    min-height: 548px;
    padding-top: 80px;
  }
}

.promo__container {
  display: grid;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding-left: 118px;
  }
}

.promo__img {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 709px;
    height: 609px;
    position: absolute;
    left: 50%;
    bottom: -5px;
    z-index: -1;
    transform: translateX(-48%);
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    top: 0;
    left: 50%;
    transform: translateX(-29%);
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 40px;
    max-width: 414px;
  }
}

.promo__subtitle {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 49px;
  }
}

.promo__link {
  font-size: 14px;
  line-height: 18px;
  width: 100%;

  @media (min-width: $tablet-width) {
    max-width: 245px;
    grid-column-start: 1;
    grid-row-start: 3;
    font-size: 20px;
    line-height: 20px;
    padding: 17px 26px;
  }
}
