.slider__btn {
  line-height: 20px;
  color: $primary-black;
  text-transform: uppercase;
  font-family: $text-custom;
}

.slider__control {
  display: flex;
  justify-content: center;
}

.slider__items-before {
  text-align: center;
}
