.social__item {
  margin-right: 35px;

  @media (min-width: $tablet-width) {
    margin-right: 24px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.social__item-link {
  display: inline-block;
  color: $special-grey-2;
  transition: color $transition-time, opacity $transition-time;

  &:hover {
    color: $green;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    &--vk .social__img {
      width: 30px;
      height: 22px;
    }

    &--ig .social__img {
      width: 23px;
      height: 23px;
    }

    &--fb .social__img {
      width: 28px;
      height: 33px;
    }
  }
}
