$primary-white: #ffffff;
$primary-grey: #444444;
$primary-black: #000000;
$green: #68b738;
$green-hover: #5eaa2f;
$grey-bg: #f2f2f2;
$grey-bg-example: #eaeaea;
$grey-contacts: #111111;
$text-primary: "Arial", sans-serif;
$text-custom: "Oswald", "Arial", sans-serif;
$transition: 0.3s all;
$transparent: rgba($primary-white, 0);
