//colors

$primary-white: #ffffff;
$primary-grey: #444444;
$primary-black: #000000;
$special-grey: #222222;
$green: #68b738;
$green-hover: #5eaa2f;
$green-cat: #62a63b;
$grey-bg: #f2f2f2;
$grey-bg-example: #eaeaea;
$grey-border-1: #e7e7e7;
$grey-border-2: #cdcdcd;
$grey-border-3: #d9d9d9;
$grey-border-4: #ebebeb;
$grey-border-5: #e6e6e6;
$grey-border-6: #dcdcdc;
$grey-border-7: #b2b2b2;
$grey-border-8: #bababa;
$grey-border-9: #d3d3d3;
$border-error: #ff8282;
$grey-contacts: #111111;
$transparent: rgba($primary-white, 0);
$slider-btn-hov: rgba($primary-black, 0.4);

//fonts

$text-primary: "Arial", sans-serif;
$text-custom: "Oswald", "Arial", sans-serif;

//other

$transition-time: 0.3s;

//viewports

$tablet-width: 768px;
$desktop-width: 1300px;
